In [1]:
import pandas as pd
from bs4 import BeautifulSoup, SoupStrainer
import urllib.request
import functions as f

**Import Data:**


MIT Election Data and Science Lab, 2018, "County Presidential Election Returns 2000-2016", https://doi.org/10.7910/DVN/VOQCHQ, Harvard Dataverse, V5, UNF:6:cp3645QomksTRA+qYovIDQ== [fileUNF]

&

https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-detail.html (Intercensal Estimates of the Resident Population by Five-Year Age Groups, Sex, Race, and Hispanic Origin for Counties: April 1, 2000 to July 1, 2010) 

&

https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-detail.html (Annual County Resident Population Estimates by Age, Sex, Race, and Hispanic Origin: April 1, 2010 to July 1, 2018)

In [2]:
#which candidate US counties voted for 2000 - 16
df = pd.read_csv('countypres_2000-2016.csv') 
df['percent_votes'] = (df['candidatevotes'] / df['totalvotes']) * 100
df = df.dropna(subset=['FIPS']) #drops 64 rows 
df['FIPS'] = df['FIPS'].astype(int)
df['FIPS'] = df['FIPS'].apply(lambda x: '0' + str(x) if len(str(x)) == 4 else str(x))
df['party'] = df['party'].fillna(value = 'other')
df['year'].replace({2000: 1, 2004: 5, 2008: 9, 2012: 13, 2016: 17}, inplace = True) #year values from census tables
df.head(10)

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,percent_votes
0,1,Alabama,AL,Autauga,01001,President,Al Gore,democrat,4942.0,17208,20190722,28.719200
1,1,Alabama,AL,Autauga,01001,President,George W. Bush,republican,11993.0,17208,20190722,69.694328
2,1,Alabama,AL,Autauga,01001,President,Ralph Nader,green,160.0,17208,20190722,0.929800
3,1,Alabama,AL,Autauga,01001,President,Other,other,113.0,17208,20190722,0.656671
4,1,Alabama,AL,Baldwin,01003,President,Al Gore,democrat,13997.0,56480,20190722,24.782224
5,1,Alabama,AL,Baldwin,01003,President,George W. Bush,republican,40872.0,56480,20190722,72.365439
6,1,Alabama,AL,Baldwin,01003,President,Ralph Nader,green,1033.0,56480,20190722,1.828966
7,1,Alabama,AL,Baldwin,01003,President,Other,other,578.0,56480,20190722,1.023371
8,1,Alabama,AL,Barbour,01005,President,Al Gore,democrat,5188.0,10395,20190722,49.908610
9,1,Alabama,AL,Barbour,01005,President,George W. Bush,republican,5096.0,10395,20190722,49.023569

In [3]:
#import 2010 - 2018 census data
df_2010_18 = pd.read_csv('cc-est2018-alldata.csv', encoding='latin-1')
df_2010_18.describe()

,SUMLEV,STATE,COUNTY,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
count,656678.0,656678.000000,656678.000000,656678.00000,656678.00000,6.566780e+05,6.566780e+05,6.566780e+05,6.566780e+05,6.566780e+05,...,6.566780e+05,6.566780e+05,656678.000000,656678.000000,656678.000000,656678.000000,656678.000000,656678.000000,656678.000000,656678.000000
mean,50.0,30.280076,103.572884,6.00000,9.00000,1.060748e+04,5.219354e+03,5.388129e+03,4.073480e+03,4.152078e+03,...,8.371027e+02,8.156815e+02,53.707823,55.886434,39.138177,36.720688,16.282994,16.380530,5.852400,5.606273
std,0.0,15.141941,107.687001,3.16228,5.47723,7.923910e+04,3.892950e+04,4.032278e+04,2.851370e+04,2.883077e+04,...,1.351321e+04,1.352515e+04,760.187439,844.097087,530.731456,509.575409,289.385811,293.214004,102.432051,102.145417
min,50.0,1.000000,1.000000,1.00000,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.0,18.000000,35.000000,3.00000,4.00000,5.840000e+02,2.830000e+02,2.970000e+02,2.370000e+02,2.470000e+02,...,4.000000e+00,4.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,50.0,29.000000,79.000000,6.00000,9.00000,1.489000e+03,7.360000e+02,7.510000e+02,6.260000e+02,6.450000e+02,...,2.100000e+01,1.900000e+01,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,50.0,45.000000,133.000000,9.00000,14.00000,4.451000e+03,2.195000e+03,2.257000e+03,1.883000e+03,1.926000e+03,...,1.267500e+02,1.140000e+02,7.000000,6.000000,8.000000,7.000000,2.000000,2.000000,1.000000,1.000000
max,50.0,56.000000,840.000000,11.00000,18.00000,1.012054e+07,4.987994e+06,5.132853e+06,3.597563e+06,3.592513e+06,...,2.294143e+06,2.305784e+06,111072.000000,128451.000000,86229.000000,83015.000000,51072.000000,51205.000000,17450.000000,17116.000000

In [4]:
#census data for 2000-2018 requires cleaning and scraping bc combining multiple datasets from census.gov
df_2000_10 = f.scrape_census()
df_2000_10.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_MALE,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,576,263,313,...,0,0,0,0,0,0,0,0,0,0
1,50,1,1,Alabama,Autauga County,1,1,2445,1237,1208,...,0,3,0,0,0,0,0,0,0,2
2,50,1,1,Alabama,Autauga County,1,2,3622,1875,1747,...,3,3,1,2,1,0,0,0,1,0
3,50,1,1,Alabama,Autauga County,1,3,3744,1959,1785,...,7,1,0,0,0,3,0,1,0,0
4,50,1,1,Alabama,Autauga County,1,4,3266,1679,1587,...,3,1,3,0,0,0,0,0,1,1

**Clean Data** :

In [5]:
#years between datasets overlap so have to drop
df_2000_10 = df_2000_10[(df_2000_10['YEAR'] != 1) & (df_2000_10['YEAR'] != 12) & (df_2000_10['YEAR'] != 13)] 
df_2000_10['YEAR'] = df_2000_10['YEAR'] - 1 #re-number
df_2010_18 = df_2010_18[(df_2010_18['YEAR'] != 1) & (df_2010_18['YEAR'] != 2)] 
df_2010_18['YEAR'] = df_2010_18['YEAR'] + 8 #re-number to continue from df_2000_10

In [6]:
#2010-18 data has more columns, so have to drop ones that are not also in 2000-10
columns = list(df_2000_10.columns.intersection(df_2010_18.columns))
df_2010_18 = df_2010_18[columns]

In [11]:
#combine the two dataframes for census data 2000 - 2018 
df_2000_18 = pd.concat([df_2000_10, df_2010_18], ignore_index=True)
df_2000_18 = df_2000_18[(df_2000_18['AGEGRP'] != 0) & (df_2000_18['AGEGRP'] != 1) & (df_2000_18['AGEGRP'] != 2) & (df_2000_18['AGEGRP'] != 3)] #age groups too young to vote
df_2000_18['FIPS'] = df_2000_18['STATE'].apply(lambda x: f.fips_state(x)) + df_2000_18['COUNTY'].apply(lambda x: f.fips_county(x))
df_2000_18.head(20)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,FIPS
4,50,1,1,Alabama,Autauga County,1,4,3297,1698,1599,...,1,3,0,0,0,0,0,1,2,01001
5,50,1,1,Alabama,Autauga County,1,5,2366,1193,1173,...,1,1,1,0,1,0,0,0,0,01001
6,50,1,1,Alabama,Autauga County,1,6,2701,1274,1427,...,2,1,0,0,0,0,0,0,1,01001
7,50,1,1,Alabama,Autauga County,1,7,3043,1477,1566,...,0,1,0,0,1,0,0,0,0,01001
8,50,1,1,Alabama,Autauga County,1,8,4002,1942,2060,...,3,0,0,1,0,0,0,0,0,01001
9,50,1,1,Alabama,Autauga County,1,9,3698,1791,1907,...,1,0,0,0,1,0,0,0,0,01001
10,50,1,1,Alabama,Autauga County,1,10,3060,1518,1542,...,1,0,1,0,0,0,0,2,0,01001
11,50,1,1,Alabama,Autauga County,1,11,2649,1260,1389,...,2,0,0,0,0,0,0,0,0,01001
12,50,1,1,Alabama,Autauga County,1,12,2326,1097,1229,...,0,1,0,0,0,0,0,0,0,01001
13,50,1,1,Alabama,Autauga County,1,13,1924,940,984,...,1,0,0,0,0,0,0,0,0,01001
14,50,1,1,Alabama,Autauga County,1,14,1560,716,844,...,1,0,0,1,0,0,0,0,0,01001
15,50,1,1,Alabama,Autauga County,1,15,1160,501,659,...,0,0,0,0,0,0,0,0,0,01001
16,50,1,1,Alabama,Autauga County,1,16,843,334,509,...,2,0,0,0,0,0,0,0,0,01001
17,50,1,1,Alabama,Autauga County,1,17,525,173,352,...,0,0,0,0,0,0,0,0,0,01001
18,50,1,1,Alabama,Autauga County,1,18,443,118,325,...,0,0,0,0,0,0,0,0,0,01001
19,50,1,1,Alabama,Autauga County,1,99,44021,21385,22636,...,22,8,4,3,6,0,1,4,5,01001
24,50,1,1,Alabama,Autauga County,2,4,3306,1716,1590,...,1,3,0,0,0,0,0,0,1,01001
25,50,1,1,Alabama,Autauga County,2,5,2485,1255,1230,...,1,1,1,0,1,0,0,0,0,01001
26,50,1,1,Alabama,Autauga County,2,6,2591,1214,1377,...,2,1,0,0,0,0,0,0,1,01001
27,50,1,1,Alabama,Autauga County,2,7,3120,1520,1600,...,0,1,0,0,1,0,0,0,0,01001

In [41]:
df_2000_18['AGEGRP'].astype()

TypeError: astype() missing 1 required positional argument: 'dtype'

In [40]:
#df_2000_18['AGEGRP'] = df_2000_18['AGEGRP'].map(if AGEGRP =< 7:  )
df_2000_18['AGEGRP'][df_2000_18['AGEGRP']  < 7 ] = 'young' 
df_2000_18['AGEGRP'][df_2000_18['AGEGRP'] == 99 ] = 'total'
df_2000_18['AGEGRP'][df_2000_18['AGEGRP'] > 7 ] = 'old'

/Users/minnafingerhood/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

TypeError: '>' not supported between instances of 'str' and 'int'

In [24]:
n = 600000
df_2000_18['FIPS'].iloc[n], df_2000_18['CTYNAME'].iloc[n]

('54015', 'Clay County')

In [16]:
temp = df_2000_18.groupby(['YEAR', 'FIPS', 'AGEGRP']).sum()
temp.head()

                   SUMLEV  STATE  COUNTY  TOT_POP  TOT_MALE  TOT_FEMALE  \
YEAR FIPS  AGEGRP
1    01001 4           50      1       1     3297      1698        1599
           5           50      1       1     2366      1193        1173
           6           50      1       1     2701      1274        1427
           7           50      1       1     3043      1477        1566
           8           50      1       1     4002      1942        2060

                   WA_MALE  WA_FEMALE  BA_MALE  BA_FEMALE  ...  HBA_MALE  \
YEAR FIPS  AGEGRP                                          ...
1    01001 4          1293       1207      362        361  ...         3
           5           925        880      242        268  ...         0
           6          1039       1114      212        291  ...         0
           7          1256       1268      203        268  ...         1
           8          1651       1705      259        314  ...         3

                   HBA_FEMALE  HIA_MALE  HIA_FEMALE  HAA_MALE  HAA_FEMALE  \
YEAR FIPS  AGEGRP
1    01001 4                1         3           0         0           0
           5                1         1           1         0           1
           6                2         1           0         0           0
           7                0         1           0         0           1
           8                3         0           0         1           0

                   HNA_MALE  HNA_FEMALE  HTOM_MALE  HTOM_FEMALE
YEAR FIPS  AGEGRP
1    01001 4              0           0          1            2
           5              0           0          0            0
           6              0           0          0            1
           7              0           0          0            0
           8              0           0          0            0

[5 rows x 46 columns]

In [34]:
temp2= df.groupby(['FIPS', 'year', 'party']).agg({'percent_votes':'max'})
temp2.head()

                       percent_votes
FIPS  year party
01001 1    democrat        28.719200
           green            0.929800
           other            0.656671
           republican      69.694328
      5    democrat        23.694039

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version,percent_votes
0,1,Alabama,AL,Autauga,01001,President,Al Gore,democrat,4942.0,17208,20190722,28.719200
1,1,Alabama,AL,Autauga,01001,President,Ralph Nader,green,160.0,17208,20190722,0.929800
2,1,Alabama,AL,Autauga,01001,President,Other,other,113.0,17208,20190722,0.656671
3,1,Alabama,AL,Autauga,01001,President,George W. Bush,republican,11993.0,17208,20190722,69.694328
4,1,Alabama,AL,Baldwin,01003,President,Al Gore,democrat,13997.0,56480,20190722,24.782224

In [31]:
#df.groupby(['FIPS', 'year', 'party']).transform(max)
temp = df.groupby(["year", "FIPS", "party"]).apply(lambda x: x.nlargest(1, "percent_votes")).reset_index(drop=True)

In [27]:
temp3 = df.groupby(['FIPS', 'year', 'party']).apply(lambda grp: grp.nlargest(2, 'percent_votes').sum())

                       year    state state_po   county   FIPS     office  \
FIPS  year party
01001 1    democrat     1.0  Alabama       AL  Autauga  01001  President
           green        1.0  Alabama       AL  Autauga  01001  President
           other        1.0  Alabama       AL  Autauga  01001  President
           republican   1.0  Alabama       AL  Autauga  01001  President
      5    democrat     5.0  Alabama       AL  Autauga  01001  President

                            candidate       party  candidatevotes  totalvotes  \
FIPS  year party
01001 1    democrat           Al Gore    democrat          4942.0     17208.0
           green          Ralph Nader       green           160.0     17208.0
           other                Other       other           113.0     17208.0
           republican  George W. Bush  republican         11993.0     17208.0
      5    democrat        John Kerry    democrat          4758.0     20081.0

                          version  percent_votes
FIPS  year party
01001 1    democrat    20190722.0      28.719200
           green       20190722.0       0.929800
           other       20190722.0       0.656671
           republican  20190722.0      69.694328
      5    democrat    20190722.0      23.694039

In [ ]:
#must create binary for AGEGRP: either old or young people 
#find % change for groups over time rather than actual values 
#create column for df that indicates who won the election in the county

In [28]:
temp3.head()

                       year    state state_po   county   FIPS     office  \
FIPS  year party
01001 1    democrat     1.0  Alabama       AL  Autauga  01001  President
           green        1.0  Alabama       AL  Autauga  01001  President
           other        1.0  Alabama       AL  Autauga  01001  President
           republican   1.0  Alabama       AL  Autauga  01001  President
      5    democrat     5.0  Alabama       AL  Autauga  01001  President

                            candidate       party  candidatevotes  totalvotes  \
FIPS  year party
01001 1    democrat           Al Gore    democrat          4942.0     17208.0
           green          Ralph Nader       green           160.0     17208.0
           other                Other       other           113.0     17208.0
           republican  George W. Bush  republican         11993.0     17208.0
      5    democrat        John Kerry    democrat          4758.0     20081.0

                          version  percent_votes
FIPS  year party
01001 1    democrat    20190722.0      28.719200
           green       20190722.0       0.929800
           other       20190722.0       0.656671
           republican  20190722.0      69.694328
      5    democrat    20190722.0      23.694039